---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col justify-center items-center">
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <a href="/v1.0/auth/current">View Current User</a>
  </main>
</Layout>
