---
import Layout from '../layouts/Layout.astro';
import RegisterForm from '../components/solid/RegisterForm.tsx';
---

<Layout title="Register a new account">
  <main class="max-w-sm h-screen mx-auto flex flex-col justify-center items-center">
    <div class="w-full bg-slate-100 dark:bg-slate-900 p-4 rounded-lg shadow-black shadow flex flex-col justify-center items-center">
      <h1 class="text-2xl mb-8">Register a new account.</h1>
      <RegisterForm client:load />
    </div>
  </main>
</Layout>
